<% provide(:title,"help")%>

<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
 
<h2>gmap</h2>
<div id='map'></div>
<div id='map_name'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
function initMap(){
  var myLatLng = {lat: 35.68090045006303, lng: 139.76690798417752}
  var marker = new google.maps.Marker();
  var map_name = document.getElementById('map_name')

  let map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng,
  zoom: 8
    });
  

 google.maps.event.addListener(map, 'click', mylistener);

       //クリックしたときの処理
  function mylistener(event){
    //marker作成
    //markerの位置を設定
    //event.latLng.lat()でクリックしたところの緯度を取得
    marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
    //marker設置
    marker.setMap(map);    
    console.log(event.latLng.lat(), event.latLng.lng());
    map_name.textContent=event.latLng.lat(),event.latLng.lng();
  }
}






</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>