<% provide(:title,"help")%>

<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<div id="app">
    <v-app>
      <v-main>
        <v-container>
        <v-btn href="<%=root_path%>"
            elevation="9" outlined 
          >ホーム</v-btn>
        </v-container>
      </v-main>
    </v-app>
</div>
    
