<% @new_send_messages.each do |new_receive_message| %>
  <div class="row messages">      
    <div class="card-content">
      <div class="col l1">
        <%= render 'shared/user_avatar_only', user: new_receive_message.user %>              
      </div>
      <div class="col l10">
        <%= link_to new_receive_message.user.name,user_path(new_receive_message.user) %></p>
        <div class="receive-message">
          <a href="<%= room_path(new_receive_message.room) %>" class="receive-message"><%=  new_receive_message.content %></a>
        </div>
      </div>
    </div>          
  </div>
  <div class="divider"></div>
<% end %>  