
<%= form_with(model: [@article,@comment]) do |f| %>
<div id="comment_error">
</div>
<%= f.text_area :content,class:'form-controll' %>
<%= f.submit "コメント",class:"btn btn-primary",id:"comment_button"%>
<% end %>
