 var comment_error = document.getElementById('comment_error');
 var article_page = document.getElementById('article_page');
 var comments = document.getElementById('comments');
 var comment_content = document.getElementById('comment_content');
fetch("/api/v1/articles/<%=@article.id%>/comments",
{ 
  mode: 'cors',
  method: 'GET',
  headers: {
    Authorization: "Token <%= current_user.token %>",
    "Content-Type": "application/json"
  }
}).then(response =>response.json())
.then(data => {
  
  var new_comment = data[data.length-1]
  var hidden = (<%= current_user.id %> != new_comment.user.id) ? "hidden":""
  var coach = (new_comment.user.coach == true) ? "":"hidden"
  img = () => {
    var image
    if (new_comment.user.avatar != null) {
    image = `
    <a href="/users/${new_comment.user.id}">
      <img class="circle small" src=${img}
    </a>`
    } else {
      image = `<%= image_tag("/no-image.jpg",class:"circle small") %>`
    }
    return image
  }
  coach_check = () => {
    if(new_comment.user.coach == true){
    var coach_name = `
      <span class="inline">
        <a href="/users/${new_comment.user.id}">
          ${new_comment.user.name}
        </a>
        <div>
          <i class="far fa-check-circle" style="color:lightgreen"></i>
          <span style="color:lightgreen">コーチ</span>
        </div>
      </span>      
      `
      return coach_name
    }else {
     var not_coach_name = `
      <span class="not-coach">
        <a href="/users/${new_comment.user.id}">
          ${new_comment.user.name}
        </a>    
      </span>      
      `
      return not_coach_name
    }
  }

  comments.insertAdjacentHTML('beforeend',`
  <li id='comment_${new_comment.id}'　class='comment-${new_comment.id} margin-20'>
    <div class="margin-20">
      <span>  
        ${img()}
      </span>
      ${coach_check()}
      <div class="comment">
        ${new_comment.content}
      </div>
      <div class="divider"></div>
      <div class="right comment-delete">
        <a data-confirm="本当に削除しますか？" data-remote="true" rel="nofollow"
        data-method="delete" href="/articles/${new_comment.article.id}/comments/${new_comment.id}"
        ${hidden}>削除</a>  
      </div>
    </div>
  </li>`)
}).catch(e => {
  console.log(e);
})

comment_error.textContent='';
comment_content.value='';