 var comment_error = document.getElementById('comment_error');
 var article_page = document.getElementById('article_page');
 var comments = document.getElementById('comments');
 var comment_content = document.getElementById('comment_content');
fetch("/api/v1/articles/<%=@article.id%>/comments",
{ 
  mode: 'cors',
  method: 'GET',
  headers: {
    Authorization: "Token <%= current_user.token %>",
    "Content-Type": "application/json"
  }
}).then(response =>response.json())
.then(data => {
 
  var hidden = (<%=current_user.id %> != data[data.length-1].user.id) ? "hidden":""
  var img = (data[data.length-1].user.avatar != null) ? data[data.length-1].user.avatar:"/assets/no-image.jpg"
  
  comments.insertAdjacentHTML('beforeend',
  `<li id='comment_${data[data.length-1].id}'　class='comment-${data[data.length-1].id} margin-20'>
    <div class="margin-20">  
      <a href="/users/${data[data.length-1].user.id}">
        <img class="circle" src=${img}>
      </a>
      <span class="profile-link">
        <a href="/users/${data[data.length-1].user.id}">
          ${data[data.length-1].user.name}
        </a>
      </span>
      <div class="comment">
        ${data[data.length-1].content}
      </div>
      <div class="divider"></div>
      <div class="right comment-delete">
        <a data-confirm="本当に削除しますか？" data-remote="true" rel="nofollow"
        data-method="delete" href="/articles/${data[data.length-1].article.id}/comments/${data[data.length-1].id}"
        ${hidden}>削除</a>  
      </div>
    </div>
  </li>`)

}).catch(e => {
  console.log(e);
})





comment_error.textContent='';
comment_content.value='';