 var comment_error = document.getElementById('comment_error');
 var article_page = document.getElementById('article_page');
 var comments = document.getElementById('comments');
 var comment_content = document.getElementById('comment_content');
fetch("/api/v1/articles/<%=@article.id%>/comments",
{ 
  mode: 'cors',
  method: 'GET',
  headers: {
    Authorization: "Token <%= current_user.token %>",
    "Content-Type": "application/json"
  }
}).then(response =>response.json())
.then(data => {
 
  console.log(data);
  var hidden = (<%=current_user.id %> != data[data.length-1].user.id) ? "hidden":""

  comments.insertAdjacentHTML('beforeend',
  `<li id='comment_${data[data.length-1].id}'　class='micropost-${data[data.length-1].id}'>
    <a href="/users/${data[data.length-1].user.id}">${data[data.length-1].user.name}</a>さんのコメント</p>
  ${data[data.length-1].content}
  <a data-confirm="本当に削除しますか？" data-remote="true" rel="nofollow"
  data-method="delete" href="/articles/${data[data.length-1].article.id}/comments/${data[data.length-1].id}"
  ${hidden}>削除</a>
  </li>`)

}).catch(e => {
  console.log(e);
})


comment_error.textContent='';
comment_content.value='';