<div class="row">  
  <div class="col s12 m8 push-m2">
    <div class="card hoverable">
      <div class="card-content">
        <div class="card-title">通知
        </div>
        <% if @notifications.empty? %>
        <h3>通知はありません</h3>
        <% else %>
        <a rel="nofollow" data-method="delete" href="/notifications/destroy_all">
          <i class="fas fa-trash"></i>全削除
        </a>
        </p>
        <% end %>
      </div>
      <div class="divider"></div>
        <%= render @notifications %>
    </div>
    <%= will_paginate @notifications %>
  </div>
</div>