<div  id="unlike">
<%= form_with(model: [@article,Like.find_by(user_id: current_user.id)],
html:{method: :delete}) do |f| %>
<%= f.submit "いいね解除",class:"btn btn-primary" %>
<% end %>
<div id="like_counts">いいね数<%= @article.likes.count %></div>
</div>