<%= provide(:title,"いいねした記事一覧") %>
<div class="row">
  <div class="col s12 m8 push-m2">
    <% if @articles.any? %>
    <h5 class="center">いいねした記事</h5>
    <ul class="articles">
      <%= render @articles %>
      <div class="center"><%= will_paginate @articles %></div>
    </ul>
    <% else %>
      <h5 class="center">いいねした記事はありません</h5>
    <% end %>
  </div>
</div>
