<% if @user_ranks.any? %>
 <ul class="collection with-header ranking z-depth-1">
 <li class="collection-header"><h6>レビューランキング</h6></li>
 <%= render 'shared/user_rank', collection: @user_ranks %>
 </ul>
<% end %>