<span>
  <% if user.avatar? %>
  <%= link_to image_tag(user.avatar.url, class: "circle small"), user_path(user) %>
  <% else %>
  <%=link_to image_tag('no-image.jpg', class: "circle small"), user_path(user) %>
  <% end %>
</span>
<span class="inline">
  <%= link_to user.name,user %>
<div>
  <% if user.coach? %>
  <i class="far fa-check-circle" style="color:lightgreen"></i>
  <span style="color:lightgreen">コーチ</span>
  <% end %>
</div>
</span>
