<% if current_user.avatar? %>
<%= image_tag current_user.avatar.url, class: "circle"%>
<% else %>
<%= image_tag 'no-image.jpg', class: "circle"%>
<% end %>
<span class="profile-link">
<%= link_to current_user.name,current_user %>
</span>

