<% if current_user.avatar? %>
<%= link_to image_tag(current_user.avatar.url, class: "circle"), user_path(current_user) %>
<% else %>
<%=link_to image_tag('no-image.jpg', class: "circle"), user_path(current_user) %>
<% end %>
<span class="profile-link">
<%= link_to current_user.name,current_user %>
</span>

