<div id="tag-all" class="row">
  <div class="col">
    <ul class="card">
      <div class="card-content">
        <div class="card-title">
          人気のタグ
        </div>
      </div>

      <div class="card-action flex">
        <% @tags.each do |tag|%>
        <li class="card-content flex">
          <a class="btn tag-button" href="<%= articles_path(tag_name: tag.name) %>">
          <%= tag.name %>
          </a>
          <span class="tag-count"><%= tag.count %>件</span>
        </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>
