タグ一覧

<div id="tag-all">
<% @tags.each do |tag|%>

<v-chip class="ma-2"
outlined 
href="<%=articles_path(tag_name: tag.name)%>">
<li><%= tag.name %></li></v-chip>
<% end %>
</div>





      
    















<% content_for :javascripts do %>
<script>
new Vue({
      el: '#tag-all',
      vuetify: new Vuetify(),
      data(){
        return{

          }
        }
    })
</script>
<% end %>


