@import 'materialize';
//@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./actiontext.scss";



body{
  background-color:#F2F2F2;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin:10px;
}

.tag-button {
  background-color: lightblue;
  color: black;
  opacity: 0.8;
  text-transform: none;
}

.tag-count {
  margin:10px;
  position: relative;
  top:5px;
}

#map{
  height: 400px;
}

ul,li {
  list-style: none;
}

.user_info {
margin-top : 30px ;
margin-bottom : 30px ;
}

.header-icons { 
  font-size: 20px; 
  margin-right: 5px;
}

.brand-logo {
  margin-left: 10px;
}

.crown {
  margin:0px;
  padding: 0px;
  position: relative; 
  right: 20px;
}

.collection-item.auto {
  margin: 0px;
}

.follower {
  margin: 20px;
}

.profile-link {
  margin: 20px;
  position: relative; 
  bottom: 20px;
}

.feed {
  margin-top: 13px;
}

.card-content.stats {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative; 
  bottom: 20px;
}

.ranking {
  margin-top: 15px;
}

.right {
  text-align:right
}

.timestamp {
  font-size: 15px;
}

.tag {
  width:100.3%;
  position: relative;
  right: 11px;
}

.margin-5 {
  margin:5px;
}

.center {
  text-align: center;
}

.article-time {
  position: relative;
  bottom: 30px;
}

.article-body {
  margin: 10px;
  font-size: 20px;
}

.comment {
  white-space: pre-line;
}

.margin-20 {
  margin: 20px;
}

.comment-delete {
  position: relative;
  bottom: 20px ;
}

.button-as_link {
  background:none;
  border: none;
  padding: 0;
  outline: none;
  cursor:pointer;
}

button:focus {
  background-color:white
}

.likes-count {
  position: relative;
  left: 25px;
  bottom: 22px;
}

.like-form {
  margin:20px
}

.home-like {
  float: right;
  position: relative;
  bottom: 20px;
  
  box-sizing: content-box;
  width: 20%;
  height: 50%;
}

.collapsible-header {
  margin:0;
  border: 0;
}

.margin-0 {
  margin:0;
}