<li id="review_<%= review.id %>">レビュー:<%= review.content %>
評価:<%= review.rate %>
<% if review.reviewer_id == current_user.id %>
<%= link_to "削除",user_review_path(@user,review),method: :delete ,remote: true %></p>
<%end%>
</li>

